.title-bar {
  border-bottom: 1px solid black;
}

.avatar-col {
  border-right: 1px solid black;
}

.post-row{
  border-bottom: 1px solid black;
}

.post-avatar {
  max-height: 100px;
  display: block;
}

.avatar-box {
  display: inline-block;
}

.post-image {
  max-height:  300px;
}

.bg-light-gray {
  background-color: #eeeeee;
}

.header-block h2 {
  vertical-align: middle;
  display: inline-block;
  height: 6rem;
  line-height: 6rem;
  padding-left: 3rem;
}

.replies-count span {
  border: 1px solid #cdcdcd;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.user-link span {
  color: black;
}

#comment_content {
  resize: none;
  height: 10rem;
  border-radius: 15px;
}

.round-white-btn {
  background-color: white;
  border-radius: 5px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.comments {
  padding-top: 1rem;
}

.user-avatar {
  max-height: 120px;
  display: block;
}

.top-pad60 {
  padding-top: 60px;
}

.user-name {
  height: 120px;
}

.lm-50 {
  margin-left: 50px;
}

.lm-65 {
  margin-left: 65px;
}

.profile-tab a.nav-link.active {
  border-width: 1px 1px 0 1px;
  border-color: #cdcdcd;
  background-color: #eeeeee;
}

.profile-tab a.nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: black;
}

.user-post-row {
  border-bottom: 1px solid #cdcdcd;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

span.post-title a {
  color: black;
}

.black-box {
  padding: 0.5rem;
  border: 1px solid black;
}