.title-bar {
  border-bottom: 1px solid black;
}

.avatar-col {
  border-right: 1px solid black;
}

.post-row{
  border-bottom: 1px solid black;
}

.avatar {
  max-height: 150px;
  display: block;
}

.post-image {
  max-height:  300px;
}

.bg-light-gray {
  background-color: #eeeeee;
}

.header-block h2 {
  vertical-align: middle;
  display: inline-block;
  height: 6rem;
  line-height: 6rem;
  padding-left: 3rem;
}

.replies-count span {
  border: 1px solid #dddddd;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.user-link span {
  color: black;
}

#comment_content {
  resize: none;
  height: 10rem;
  border-radius: 15px;
}

.round-white-btn {
  background-color: white;
  border-radius: 5px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.comments {
  padding-top: 1rem;
}